<!DOCTYPE HTML>

<html>
	<head>
		<title>Events</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/static/css/main.css" />



       <style type="text/css">	
	
             body {
             	    padding: 0; margin: 0;  background:url("static/assets/world.jpg")
                  }

             p{

                 width: 1100px;
                 border: 5px solid green;
                 padding: 25px;
                 margin: 25px;


             }




        </style>




	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo"><strong>ONLine</strong>SelfieContest</a>
					<nav id="nav">
						<a href="index">Home</a>
						<a href="events">Events</a>
						<a href="about">AboutUs</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2 style="font-weight: bold;">LIVE Contests!</h2>
						<h3 style="font-weight: bold; font-size: 25px;">-Unleash Your Creativity-</h3>
					</header>



					<div class="image round left">
						<img src="/static/assets/holi.jpg" alt="Pic 01" />
					</div>
					<h3>RED VIBES!</h3>
					
					<a href="#" class="button" style="float: left;">ENTER</a>
					<a href="hala" class="button" style="float: left;">ENTRIES</a>
				
					<br>
					<br>

					<p style="font-style: italic; font-size: 20px;">Find something that you love to do, and find a place that you really like to do it in. I found something I loved to do. I'm a mechanical engineer by training, and I loved it. I still do. My son is a nuclear engineer at MIT, a junior, and I get the same vibe from him. Your work has to be compelling. You spend a lot of time doing it.</p>
					

					<div class="image round right">
						<img src="/static/assets/pets.jpg" alt="Pic 02" />
					</div> 
					<h3 align="right">PERFECT PETS!</h3>
					<a href="entries" class="button" style="float: right;">ENTER</a>
					<a href="entries" class="button" style="float: right;">ENTRIES</a>
					<br>
					<br>
					<p align="right" style="font-style: italic; font-size: 20px;">Find something that you love to do, and find a place that you really like to do it in. I found something I loved to do. I'm a mechanical engineer by training, and I loved it. I still do. My son is a nuclear engineer at MIT, a junior, and I get the same vibe from him. Your work has to be compelling. You spend a lot of time doing it.</p>

			        


				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h3>Get in touch</h3>

					<form action="#" method="post">

						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>

					<div class="copyright">
						&copy;  <a href="https://templated.co">ASHIN SHANLY</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
					</div>

				</div>
			</footer>

		
	</body>
</html>