{% load staticfiles %}




<!DOCTYPE html>
<html>
<head>
	<title> LOGIN- SelfieSpree</title>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/static/css/main.css" />
	<style type="text/css">
		body{

			background-image: url("/static/assets/world.jpg");
		}


	</style>

</head>
<body>  




    <header id="header">
				<div class="inner">
					<a href="index" class="logo"><strong>ONLine</strong>SelfieContest</a>
					<nav id="nav">

						<a href="/index">Home</a>
						<a href="/events">Events</a>
						<a href="/about">AboutUs</a>

						
   

						<a href="/login">Login</a>
						
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
	  </header>
	  <br>
	  <br>
	  <br>
	  <br>
	  <br>







      <h2><center><strong>WELCOME!</strong></center></h2>
      <h2><center><strong>You Can Login Here!</strong></center></h2>

      <div  class="container">
      
      <h3><center><strong>LOGIN</strong></center></h3 >
      <div class="container" style="width: 500px;">
      <form method="post">
       <fieldset>
       {% csrf_token %}
       {{ form.as_p }}
       <button type="submit">Login</button>

       </fieldset>
      </form>
      </div>
      </div>

      <div class="container">
      	<h2><center><strong>Have'nt Signed Up Yet?!</strong></center></h2>
      	<h1><center>Go Ahead Head!</center></h1>
      	<footer>
      		<center>
      		<a href="/register" class="button">SignUp</a>
      		</center>
      		<br>
      		<br>

      	</footer>


      </div>


      <footer id="footer">
				<div class="inner">

					<h3>Get in touch</h3>

					<form action="#" method="post">

						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>

					<div class="copyright">
						&copy; : <a href="https://facebook.com/ashinshanly">ASHIN SHANLY</a>
					</div>

				</div>
			</footer>



</body>
</html>